@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #F0F2F5;
}
.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
}
.login-descricao{
    display: flex;
    flex-direction: column;
    float: left;
    width: 57.19%;
    height: 100%;
}
.login-logo{
    margin-top: 123px;
    margin-left: 15px;
}
.login-logo-img{
    width: 320px;
    height: 106px;
}
.login-descricao-h1{
    color: #1C1E21;
    padding-left: 42px;
    font-size: 28px;
    line-height: 32px;
    font-weight: normal;
    width: 537px;
    margin-bottom: 20px;
}
.login-formulario{
    width: 42.81%;
    float: right;
}
.login-formulario > div{
    width: 396px;
    text-align: center;
}
.login-formulario-div{
    background-color: #fff;
    margin-top: 80px;
    margin-right: 80px;
    width: 396px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: 11px 5px;
}
.login-form{
    text-align: center;
}
.login-form > input{
    padding: 7px 12px;
    width: 95%;
    height: 50px;
    margin: 5px 0px;
    border: 0.5px solid rgba(0, 0, 0, 0.116);
    border-radius: 5px;
    font-size: 17px;
    color: rgb(94, 94, 94);
    outline: none;
}
.login-form > button{
    margin: 10px;
    width: 95%;
    height: 50px;
    background-color: #1877F2;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.login-esqueceu{
    margin: 10px;
    margin-bottom: 15px;
    text-align: center;
}
.login-esqueceu > a{
    font-size: 14px;
    color:#1877F2;
    text-decoration: none;
}
.login-esqueceu > a:hover{
    text-decoration: underline;
}
.login-criar{
    border-top: 1px solid rgb(209, 209, 209);
    padding: 20px;
    text-align: center;
}
.login-criar > button{
    padding: 5px;
    width: 155px;
    height: 48px;
    background-color: #42B72A;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
}
.login-form-pag{
    text-align: center;
}
.login-form-pag > h2{
    font-size: 14px;
    font-weight: normal;
    padding-top: 20px;
}
.login-form-pag > h2 > a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}