@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

:root{
    --fonte-montserrat: "Montserrat", sans-serif;
    --fonte-quicksand: "Quicksand", sans-serif;

    --cor-primário: #2F27CE;
    --cor-secundário: #9E99FF;
    --cor-sotaque: #746DFD;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}